{% extends "donation_app/base.html" %}


{% block streamer_analytics%}
<div class = "medium_chart">
  <canvas id="donations_last" ></canvas>
</div>

<div class = "medium_chart">
  <canvas id="donations_sum" ></canvas>
</div>


<script>

  //chart1(last)
  const labels_last = {{labels_last|safe}}
  const data_last = {
    labels: labels_last,
    datasets: [{
      label: 'Последние донаты',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data:   {{data_last|safe}}
    }]
  };

  const config_last = {
    type: 'bar',
    data: data_last,
    options: {}
  };

  const donations_last = new Chart(
  document.getElementById('donations_last'),
  config_last
  );


  //chart2(sum)
  const labels_sum = {{labels_sum|safe}}
  const data_sum = {
    labels: labels_sum,
    datasets: [{
      label: 'Последние донаты',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data:   {{data_sum|safe}}
    }]
  };

  const config_sum = {
    type: 'line',
    data: data_sum,
    options: {}
  };

  const donations_sum = new Chart(
  document.getElementById('donations_sum'),
  config_sum
  );

</script>

<style>
.medium_chart{
  height : 300px;
  width : 400px;
}
</style>
{% endblock %}
