{% extends "donation_app/base.html" %}


{% block streamer_analytics%}
<div class = "medium_chart">
  <canvas id="last_donations" ></canvas>
</div>



<script>
  const labels_last = {{labels_last|safe}}
  const data_last = {
    labels: labels_last,
    datasets: [{
      label: 'Последние донаты',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data:   {{data_last|safe}}              //[0, 10, 5, 2, 20, 30, 45],
    }]
  };

  const config_last = {
    type: 'bar',
    data: data_last,
    options: {}
  };

  const last_donations = new Chart(
  document.getElementById('last_donations'),
  config_last
);
</script>

<style>
.medium_chart{
  height : 300px;
  width : 400px;
}
</style>
{% endblock %}
